#hidden-plane, #hidden-bottom-pipe, #hidden-top-pipe, #hidden-scroll-bg {
  display: none;
}

.app-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  /* width: 100%; */
  font-family: 'Courier New', Courier, monospace;
  /* height: 635px; */
}


.game-canvas{
  background-color: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  /* width: 97%; */
}

.space {
  padding: 0;
  display: inline-block;
}

.info {
  margin:10px;
  width: 20%;
}

.icon {
  height: 30px;
}

.contact {
  text-align: center;
  margin: 10px;
  width: 20%;
}